.box-layout {
  background: url('/images/bg.jpg');
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh; // 100% of the view port (vh) height
  widows: 100vw;
}

.box-layout__box {
  background: fade-out($color: white, $amount: .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}