.button {
  background: $blue;
  color: white;
  border: none;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;

  display: inline-block;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}