.input-group {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin-right: $s-size;
    margin: 0 $s-size 0 0;
  }
}